$primary: #FCFCFC;
$secondary: #FF3E4E;

.container {
  width: 320px;
  height: 400px;
  background-color: $primary;
  box-sizing: border-box;
  border-radius: 8px;
  text-decoration: none;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.2s ease-in-out;
  }

  &:hover::after {
    background-color: rgba(255, 255, 255, 0.5);
  }

  .image {
    margin: 40px;
    width: 240px;
    height: 240px;

    img {
      width: 240px;
      height: 240px;
    }
  }

  .name {
    height: 80px;
    width: 100%;
    background-color: $secondary;
    font-size: 24px;
    line-height: 29px;
    color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-transform: capitalize;
  }
}
