.container {
  padding-top: 125px;

  .title {
    color: #1D1D1D;
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 45px;

    .title {
      margin-left: 30px;
    }
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 40px;
    grid-column-gap: 28px;
  }

  .pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;

    .button {
      width: 55px;
      height: 55px;
      border: 1px solid #A5A5A5;
      border-radius: 8px;
      font-size: 24px;
      line-height: 55px;
      text-align: center;
      list-style: none;
      display: inline-block;
    }

    .page {
      width: 55px;
      height: 55px;
      border: 0;
      font-size: 24px;
      line-height: 55px;
      text-align: center;
      list-style: none;
      display: inline-block;

      &.active {
        width: 55px;
        height: 55px;
        border: 1px solid #1D1D1D;
        border-radius: 8px;
        font-size: 24px;
        line-height: 55px;
        text-align: center;
        list-style: none;
      }
    }
  }
}