$primary-color: #FF3E4E;
$font-color: #FCFCFC;

.navbar {
  height: 165px;
  width: 100%;
  background-color: $primary-color;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  ul {
    list-style: none;
    display: flex;
    margin: 0 140px;
    padding: 0;

    li {
      margin-left: 1rem;

      a {
        font-weight: bold;
        font-style: normal;
        font-size: 20px;
        line-height: 25px;
        color: $font-color;
        text-decoration: none;
      }
    }
  }
}