.container {
  max-width: 1364px;
  display: flex;
  margin: 140px auto;
  align-items: center;
  flex-direction: column;


  .back-button {
    color: #1D1D1D;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    background: none;
    border: none;
    margin-right: auto;
  }

  .tab-group {
    width: 100%;
  }

  .tab-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0;
    gap: 20px;

    .item {
      background-color: #FCFCFC;
      border-radius: 8px 8px 0 0;
      list-style: none;
      padding: 20px 70px;
      color: #FF3E4E;
      font-size: 24px;
      line-height: 30px;
      font-weight: bold;
      opacity: 70%;

      &.active {
        opacity: 100%;
      }

      &:not(.active) {
        padding-top: 20px;
      }
    }
  }

  .panel {
    display: flex;
    width: 100%;
    background-color: #FCFCFC;
    padding: 30px;
    border-radius: 8px;

    .image {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid #E8E8E8;
      border-radius: 8px;
      padding: 50px;

      .name {
        color: #FF3E4E;
        font-size: 40px;
        line-height: 49px;
        font-weight: bold;
        text-transform: capitalize;
      }

      img {
        width: 300px;
        height: 300px;
        margin-top: 100px;
      }
    }

    .info-container {
      display: flex;
      align-items: center;

      .info {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 25px;
        box-sizing: border-box;
        width: 100%;
        margin-left: 70px;
        grid-template-rows: 50px 50px 50px 50px auto;
        grid-row-gap: 20px;
        color: #1D1D1D;
        font-size: 20px;
        line-height: 50px;

        .label {
          display: inline-block;
          height: 100%;
          background-color: #FF3E4E1A;
          line-height: 50px;
          padding: 0 10px;
          border-radius: 8px;
          font-size: 24px;
          font-weight: bold;
          color: #1D1D1D;
        }

        & > div:last-child {
          margin-left: 11px;
          line-height: 32px;
        }
      }

      .stats-info {
        width: 100%;
        margin-left: 70px;
        color: #1D1D1D;
        font-size: 20px;
        line-height: 50px;

        .stats {
          display: grid;
          grid-template-columns: 1fr 2fr;
          grid-column-gap: 25px;
          grid-row-gap: 20px;
          margin-bottom: 20px;
        }

        .stats-label {
          display: inline-block;
          height: 100%;
          line-height: 50px;
          padding: 0 10px;
          border-radius: 8px;
          font-size: 24px;
          font-weight: bold;
          color: #1D1D1D;
        }

        .bar {
          display: block;
          background-color: #FF3E4E1A;
          height: 48px;
          width: 300px;
          position: relative;
          border-radius: 8px;
        }

        .bar-fill {
          height: 100%;
          background-color: #FF3E4E;
          position: absolute;
          top: 0;
          left: 0;
          overflow: hidden;
          border-radius: 8px 0 0 8px;
          color: #FCFCFC;
          font-size: 24px;
          padding-left: 20px;
        }
      }
    }

    &:not(.active) {
      display: none;
    }
  }
}